# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
.vercel/

# Builds
build/
dist/
coverage/
.turbo/

# Logs and caches
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Documentation/Plans (ignored)
ToEnterprisePlan.md
Audit.md
ToDoWeek.md
ToDoWeek2.md
ToDOWeek3.md
ToDoWeek4+.md

#env
.env
.env.development
.env.production
.env.test
.env.local